:root { 
        /* Top Navbar */
        --topnavbar-text-color: #F1F1F1;  
        --topnavbar-background-color: #333333;   
        --topnavbar-border-color: #ffff;   
        --topnavbar-icon-color: white;    
        --topnavbar-notification-icon-color: #f39c12;    
        --topnavbar-seperator-color: #ffff; 

        /* Side Navbar */
        --sidenavbar-body-color: #252525; 
        --sidenavbar-text-color: #F1F1F1; 
        --sidenavbar-text-hover-color: #43AAFF;  
        --sidenavbar-hover-background-color: #252525;   
        --sidenavbar-border-color: #ffff;  
        --sidenavbar-seperator-color: #fff;  
        
        /* Application Logo */
        --fill1-color: #252525;  
        --fill2-color: #43AAFF;  
        --fill3-color: #B9CCDD;  
        --fill4-color: #43AAFF;  
        --fill5-color: #43AAFF; 
        --fill1-top-nav-color: #333333;  

        /* Body */
            /* breadcrumb */
            --breadcrumb-text1-color: #ffff; 
            --breadcrumb-text2-color: #43AAFF; 
            --breadcrumb-separator-color: #43AAFF;
            /* content-top-border */
            --content-top-border-color: #43AAFF; 

            --body-background-color: #333333;
            --main-background-color: #333333;
            --main-text-color: #ffff;
} 