:root {
        /* Top Navbar */
        --topnavbar-text-color: black;
        --topnavbar-background-color: #ffff;
        --topnavbar-border-color: #808080;
        --topnavbar-icon-color: black;
        --topnavbar-notification-icon-color: #5f5f5f;
        --topnavbar-seperator-color: grey;

        /* Side Navbar */
        --sidenavbar-body-color: #F1F2F7;
        --sidenavbar-text-color: #5f5f5f;
        --sidenavbar-text-hover-color: #008CFF;
        --sidenavbar-hpver-background-color: rgb(0 140 255 / 5%);
        --sidenavbar-border-color: #008CFF;
        --sidenavbar-seperator-color: grey;

        /* Application Logo */
        --fill1-color: #F1F2F7;
        --fill2-color: #008CFF;
        --fill3-color: #B9CCDD;
        --fill4-color: #008CFF;
        --fill5-color: #008CFF;
        --fill1-top-nav-color: white;

        /* Body */
            /* breadcrumb */
            --breadcrumb-text1-color: black;
            --breadcrumb-text2-color: #008CFF;
            --breadcrumb-separator-color: #008CFF;
            /* content-top-border */
            --content-top-border-color: #008CFF;

            --body-background-color: #ffff;
            --main-background-color: #ffff;
            --main-text-color: black;

            --body-card-bg: #ffff;
            --body-card-label-color: initial;
            --body-card-span-color: initial;
            --th-bg: initial;
            --th-color: black;
            --td-bg: initial;
            --td-color: black;

            /* Models */
            --modal-bg: #ffffff;
            --modal-header-bg: #f8f9fa;
            --modal-text: #5F5F5F;
            --modal-border: #dee2e6;
            --modal-btn-bg: #008CFF;
            --modal-btn-text: #008CFF;
            --modal-btn-text-hover: #ffff;
            --status-active: #28a745;
            --status-inactive: #dc3545;
            --invert: 0;

            /* DataTables Paginate Menu */
            --dataTable-paginate-menu-bg-color: initial;
            --dataTable-paginate-menu-text-color: black;
            --dataTable-paginate-menu-border-color: #5f5f5f;
            --dataTable-paginate-menu-label-color: black;

            /* DataTables Search Box */
            --dataTable-search-input-bg-color: initial;
            --dataTable-search-input-text-color: black;
            --dataTable-search-input-border-color: #5f5f5f;
            --dataTable-search-label-color: black;
            --dataTable-search-placeholder-color: initial;

            /* Sweet Alert */
            --swal-bg-color: #fff;
            --swal-text-color: #000;
            --swal-icon-success-color: #28a745;
            --swal-icon-error-color: #ff5b61;
            --swal-border-color: #ddd;
            --swal-button-bg: #007bff;
            --swal-button-text: #fff;
            --swal-button-border: white;
            --swal-timer-progress-bar-color: grey;

            /* Nav Tabs */
            --nav-tabs-inactive-bg-color: initial;
            --nav-tabs-inactive-text-color: black;
            --nav-tabs-inactive-border-color: initial;
            --nav-tabs-active-bg-color: #ffff;
            --nav-tabs-active-text-color: black;

            /* Notifications */
            --notification-bg-color: #ffffff;
            --notification-text-color: #333333;
            --notification-border-color: #ddd;
            --notification-muted-text-color: #6c757d;
            --notification-dropdown-bg: #f8f9fa;
            --notification-dropdown-hover-bg: #e9ecef;
            --notification-icon-color: #B0C3CC;
            --notification-badge-color: #EC5252;
            --notification-button-primary-bg: #007bff;
            --notification-button-primary-hover-bg: #0056b3;
            --notification-button-outline-text: #333;
            --notification-button-outline-border: #aaa;
            --notification-button-outline-hover-bg: #e9ecef;

            --permission-header-bg: #f8f9fa;
            --permission-header-color: #6c757d;
            --permission-card-bg-color: #f8f9fa;

            /* Profile */
            --profile-card-bg-color: #ffff;

            /* Form */
            --label-color: #5F5F5F;
            --input-bg-color: #ffff;
            --input-text-color: #5F5F5F;
            --input-border-color: #dee2e6;
            --input-icon-color: #5F5F5F;
            --placeholder-color: #6c757d;

            .form-select {
                --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
            }


            /* Documents Container */
            --bg-color: #f8f9fa;
            --text-color: #212529;
            --border-color: #dee2e6;
            --btn-bg: #dc3545;
            --btn-text: #ffffff;


    }

