
    #mySidenav::-webkit-scrollbar {
        width: 0;
    }

    #mySidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        background: var(--sidenavbar-body-color) !important;
        overflow-x: hidden;
        overflow-y: hidden; /* Changed from auto to hidden */
        transition: 0.3s;
        font-weight: 300;
        align-items: center;
        transition: 0.2s ease;
        display: flex;
        flex-direction: column;
    }


    .scrollable-content {
        flex: 1;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        width: 100%;
    }

    body.admin-portal-visible .scrollable-content {
        height: 83lvh;
    }

    .scrollable-content::-webkit-scrollbar {
        display: none;
    }

    .switch-portal-btn-container {
        width: 100%;
        flex-shrink: 0;
        padding: 1rem;
        position: sticky;
        bottom: 0;
        background-color: var(--sidenavbar-body-color);
        border-top: 1px solid var(--sidenavbar-seperator-color);
        z-index: 2;
        text-align: center;
    }

    .switch-portal-btn {
        display: inline-block;
        color: var(--sidenavbar-text-color);
        font-size: 1rem !important;
        font-weight: 600;
        text-decoration: none;
        padding: 0.5rem;
        transition: color 0.2s ease, text-decoration 0.2s ease;
    }

    .switch-portal-btn:hover {
        color: var(--color-blue);
        text-decoration: underline;
    }


    #mySidenav .application-box {
        flex-shrink: 0;
        width: 100%;
        height: 58px;
        border-bottom: 1px solid var(--sidenavbar-seperator-color);
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    #mySidenav .application-logo {
        width: 62px;
        height: auto;
        padding-left: 15px;
    }

    #mySidenav .application-text {
        display: flex;
        flex-direction: column;
        margin-left: 7px;
    }

    #mySidenav .application-logo-text {
        font-size: 20px;
        font-weight: bold;
        color: var(--sidenavbar-text-color);
    }

    #mySidenav .application-tagline {
        font-size: 9px;
        color: var(--sidenavbar-text-color);
        opacity: 0.8;
    }


    #mySidenav .application-logo #fill1{
        fill: var(--fill1-color);
    }
    #mySidenav .application-logo #fill2{
        fill: var(--fill2-color);
    }
    #mySidenav .application-logo #fill3{
        fill: var(--fill3-color);
    }
    #mySidenav .application-logo #fill4{
        fill: var(--fill4-color);
    }
    #mySidenav .application-logo #fill5{
        fill: var(--fill5-color);
    }

    #mySidenav .scrollable-content{
        overflow-x: hidden;
        overflow-y: auto;
    }

    #mySidenav a {
        padding: 5px 0px 5px 0px;
        margin: 0px 5px 0px 0px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        white-space: nowrap;
        opacity: 1;
        -webkit-text-fill-color: var(--sidenavbar-text-color);
        color: var(--sidenavbar-text-color);
        display: block;
        transition: 0.3s;
        color: #8aa4af;

        display: flex;
        align-items: center;
        text-decoration: none;
    }

    #link-a a{
        padding: 9px 0px 9px 2px;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        border-radius: 0px;
        display: block;
        transition: 0.3s;

        display: flex;
        align-items: center;
        text-decoration: none;
    }

    #mySidenav li {
        padding: 0px 0px 0px 0px;
        margin: 3px 3px 3px 14px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
    }

    #mySidenav li:hover {
        border-left: 3px solid var(--sidenavbar-border-color);
        -webkit-text-fill-color: var(--sidenavbar-text-hover-color);
        color: var(--sidenavbar-text-hover-color);
    }

    #mySidenav a:hover {
        -webkit-text-fill-color: var(--sidenavbar-text-hover-color);
        color: var(--sidenavbar-text-hover-color);
        background-color: var(--sidenavbar-hover-background-color);
    }

    #mySidenav .closebtn {
        flex-shrink: 0;
        position: absolute;
        color: var(--sidenavbar-text-color);
        top: 0;
        right: 0;
        height: 57px;
        width: 40px;
        padding-left: 5px;
        font-size: 28px;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    #mySidenav .closebtn:hover i {
        content: "";
    }

    #mySidenav .closebtn:hover .bx-menu-alt-left {
        display: none;
    }

    .chevron-icon {
        font-size: 12px;
        margin-right: 15px;
        transition: transform 0.2s;
    }

    @media screen and (max-height: 450px) {

    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (min-width: 769px) {
        #mySidenav {
            width: 250px;
        }
    }

    #mySidenav .icons{
        font-size: 24px;
        margin-left: 10px;
        margin-right: 20px;
        color: var(--sidenavbar-text-color);
    }

    #mySidenav .icons:hover{
        color:  var(--sidenavbar-text-hover-color);
    }


    #mySidenav .Link-background-color {
        -webkit-text-fill-color: var(--sidenavbar-text-hover-color) !important;
        color: var(--sidenavbar-text-hover-color);
        background-color: var(--sidenavbar-background-color);
    }
