
    #sidenav_toggler {
        font-size: 30px;
        width: 30px;
        height: 40px;
        cursor: pointer;
        color: var(--sidenavbar-text-color);
        margin-left: 1px;
        display: none;
        align-items: center;
        justify-content: center;
        transition: color 0.3s ease;
    }

    #sidenav_toggler:hover i {
        content: "";
    }

    #sidenav_toggler:hover .bx-menu-alt-left {
        display: none;
    }

    #navbar_top{
        height: 58px;
        margin-left: 0;
        background-color: var(--topnavbar-background-color);
        transition: 0.2s ease;
        border-bottom: 1px solid  var(--topnavbar-seperator-color);
    }
    #navbar_top .nav-link-btn{
        font-size:20px;
        font-weight: 500;
    }

    #navbar_top #top-nav-search{
        display: block;
    }
    /*#navbar_top #top-nav-logo{*/
    /*    display: none;*/
    /*}*/
    #navbar_top .application-box {
        flex-shrink: 0;
        width: 100%;
        height: 58px;
        text-decoration: none;
        display: flex;
        align-items: center;
    }

    #navbar_top .application-logo {
        width: 62px;
        height: auto;
        padding-left: 15px;
    }

    #navbar_top .application-text {
        display: flex;
        flex-direction: column;
        margin-left: 7px;
    }

    #navbar_top .application-logo-text {
        font-size: 20px;
        font-weight: bold;
        color: var(--sidenavbar-text-color);
    }

    #navbar_top .application-tagline {
        font-size: 9px;
        color: var(--sidenavbar-text-color);
        opacity: 0.8;
    }

    #navbar_top .application-logo #fill1{
        fill: var(--fill1-top-nav-color);
    }
    #navbar_top .application-logo #fill2{
        fill: var(--fill2-color);
    }
    #navbar_top .application-logo #fill3{
        fill: var(--fill3-color);
    }
    #navbar_top .application-logo #fill4{
        fill: var(--fill4-color);
    }
    #navbar_top .application-logo #fill5{
        fill: var(--fill5-color);
    }


    #navbar_top a{
        text-decoration: none;
    }

    #navbar_top .notification-icon{
        font-size: 18px;
        color: var(--topnavbar-notification-icon-color);
    }

    #navbar_top .user-info{
        color: var(--topnavbar-text-color);
    }

    #navbar_top .notification-badge {
            position: absolute;
            top: 10px;
            left: 30px;
            transform: translate(-50%, -50%);
            background-color: #dc3545;
            color: #fff;
            border-radius: 50%;
            font-size: 0.5rem;
            width: 5px;
            height: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }


    #navbar_top .navbar-sm .dropdown{
        position: relative;
    }

    #navbar_top .navbar-sm .dropdown-menu {
        position: absolute;
        right: 0;
    }


    @media screen and (max-width: 768px) {

        #navbar_top{
            /*margin-left: 0px;*/
        }

        #top-nav-logo{
            display: block;
        }

        #navbar_top #top-nav-search{
            display: none;
        }
        #sidenav_toggler {
            display: block;
        }
    }

    @media screen and (min-width: 769px) {
        #navbar_top {
            margin-left: 250px;
        }
        #navbar_top #top-nav-logo{
            display: none;
        }
    }

    /* Breadcrumb */
    .header-breadcrumb {
        display: flex;
        align-items: center;
    }

    .sidebar-closed .header-breadcrumb::before {
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2px;
        height: 30px;
        background-color: grey;
        margin-left: 25px;
        margin-bottom: 18px;
    }


    .header-breadcrumb .breadcrumb-item + .breadcrumb-item::before {
        content: " / ";
        color: var(--breadcrumb-separator-color);
        font-size: 16px;
        line-height: 1.6rem;
        display: inline-flex;
        align-items: center;
    }
    .header-breadcrumb .breadcrumb ol li{
        color: var(--breadcrumb-text2-color) !important;
    }
    .header-breadcrumb .breadcrumb-item a {
        text-decoration: none !important;
        color: var(--breadcrumb-text1-color) !important;
    }

    .header-breadcrumb .breadcrumb-item.active a {
        text-decoration: none !important;
        color: var(--breadcrumb-text2-color) !important;
    }

    /* ************ Notifications ************ */
    #alertsDropdown::after {
        display: none !important;
    }
    .notification-menu {
        background-color: var(--notification-bg-color) !important;
        color: var(--notification-text-color) !important;
        border: 1px solid var(--notification-border-color);
        width: 350px;
        border-radius: 20px;
        padding: 0;
    }
    .notification-header {
         padding: 10px;
         border-radius: 20px 20px 0 0;
         border-bottom: 1px solid #dee2e6;
     }

    .btn-close {
        filter: invert(var(--invert, 0));
    }
    .notification-list {
        max-height: 241px;
        min-height: 241px !important;
        overflow-y: auto;
    }
    /* Scrollbar styles for Chrome, Edge, and Safari */
    .notification-list::-webkit-scrollbar {
        width: 8px;
    }

    .notification-list::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .notification-list::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .notification-list::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    /* Scrollbar styles for Firefox */
    .notification-list {
        scrollbar-width: thin;
        scrollbar-color: #888 #f1f1f1;
    }

    .notification-header h5,
    .notification-list .dropdown-item div h7 {
        color: var(--notification-text-color);
    }

    .notification-list .dropdown-item {
        background-color: var(--notification-dropdown-bg);
        color: var(--notification-text-color);
        border-radius: 5px;
        transition: background 0.3s ease-in-out;
        display: flex;
        align-items: center;
        padding: 10px;
        height: 80px;
        border-bottom: 1px solid #dee2e6;
    }

    .notification-list .notification-item{
        background-color: var(--notification-dropdown-bg);
    }

    .notification-list .notification-item.unread {
        background-color: var(--notification-unread-dropdown-bg);
    }

    .notification-checkbox {
        cursor: pointer;
    }

    .notification-list .dropdown-item:last-child {
        border-bottom: none;
    }

    .notification-list .notification-item:hover {
        background-color: var(--notification-dropdown-hover-bg);
    }

    .notification-list .text-muted {
        color: var(--notification-muted-text-color) !important;
    }

    .notification-footer {
        background-color: var(--notification-bg-color);
        border-top: 1px solid var(--notification-border-color);
        border-radius: 0 0 20px 20px;
        padding: 0 10px 0 10px;
    }

    .notification-footer .btn-primary {
        background-color: var(--notification-button-primary-bg);
        border-color: var(--notification-button-primary-hover-bg);
    }

    .notification-footer .btn-primary:hover {
        background-color: var(--notification-button-primary-hover-bg);
    }

    .notification-footer .btn-outline-secondary {
        color: var(--notification-button-outline-text);
        border-color: var(--notification-button-outline-border);
    }

    .notification-footer .btn-outline-secondary:hover {
        background-color: var(--notification-button-outline-hover-bg);
    }

    /**/
    .notification-item-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 8px;
    }
    .notification-item-div {
        flex-grow: 1;
        margin-left: 5px;
    }
    .notification-item-heading {
        font-size: 13px;
        color: var(--main-text-color) !important;
    }
    .notification-item-message {
        font-size: 12px;
    }

    /* ************************** */

    /* *********** Theam togler ************** */
    .switch {
        position: relative;
        display: inline-block;
        width: 55px;
        height: 27px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider.round {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 34px;
        transition: .4s;
    }

    .slider.round:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }

    input:checked + .slider.round {
        background-color: #2196F3;
    }

    input:checked + .slider.round:before {
        transform: translateX(26px);
    }


    /* ************ User-menu **************  */
    .user-menu {
        background-color: var(--notification-bg-color) !important;
        color: var(--notification-text-color) !important;
        width: 180px;
        border: 1px solid var(--notification-border-color);
        border-radius: 8px;
        padding: 0;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 1050;
    }

    .user-menu .dropdown-item {
        background-color: var(--notification-dropdown-bg);
        color: var(--notification-text-color);
        transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
        display: flex;
        align-items: center;
        padding: 10px 15px 10px 15px;
        /*border-radius: 6px;*/
    }

    .user-menu .dropdown-item:hover {
        background-color: var(--notification-dropdown-hover-bg);
        transform: translateX(2px);
    }

    .user-menu .dropdown-item i {
        font-size: 1.2rem;
        color: var(--notification-icon-color);
    }

    .user-menu .dropdown-item .fa-power-off {
        color: var(--notification-badge-color);
    }



